/* Resets */

body {
    margin: 0;
    font-family: "Helvetica Neue";
    font-size: 1.4em;
    color: #222;
}

/* Common Header */

#header {
    background-color: #eee;
    padding: 12px 30px;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}

#logo {
    padding-right: 150px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 2em;
    float: left;
}

#query {
    border: 1px solid #ccc;
    background: white;
    padding: 4px;
    margin-top: 9px;
    float: left;
    font-size: 1em;
    width: 500px;
}

/* Common body */

#body {
    padding: 30px 60px;
}

#body h2 {
    margin-top: 0;
}

#body p {

}

/* Query Results */

#numResults {
    color: #999;
    font-size: 0.8em;
}

#results {
    list-style: none;
    padding: 30px 0;
}

.result {
    padding: 15px 0;
}

.expression {
    margin-bottom: 5px;
}

.score {
    font-size: 0.8em;
    color: #999;
}

/* Home page search box */

.home #header {
    font-size:1.6em;
    margin-top: 200px;
    border-top: 1px solid #ccc;
}

.home #logo {

}

.home #query {
    margin-top:15px
}

/* Default table styles */

table, tr, td {
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding: 5px;
}
