body {
    margin: 0;
    font-family: "Helvetica Neue";
    font-size: 1.4em;
}

#header {
    background-color: #eee;
    padding: 12px 30px;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}

#logo {
    padding-right: 150px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 2em;
    float: left;
}

#query {
    border: 1px solid #ccc;
    background: white;
    padding: 4px;
    margin-top: 9px;
    float: left;
    font-size: 1em;
    width: 500px;
}

#results {
    list-style: none;
    padding: 30px;
}

.result {
    padding: 15px 30px;
}

.expression {
    padding-bottom: 5px;
}

.score {
    font-size: 0.8em;
    color: #999;
}

#numResults {
    padding: 20px 60px 0 60px;
    color: #999;
    font-size: 0.8em;
}

.home #header {
    font-size:1.6em;
    margin-top: 200px;
    border-top: 1px solid #ccc;
}

.home #logo {

}

.home #query {
    margin-top:15px
}
