<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="logo">Tangent</div>
            <input id="query" value="{{ query }}">
        </div>

        <div id="body">
            <h2>Index statistics</h2>
            <table>
                {% for key, val in stats.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ val }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td>Inverted list sizes</td>
                    <td><a href="/listsize.png"><img src="/listsize.png"></a></td>
                </tr>
            </table>
        </div>

    </body>

</html>
